@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

body {
  font-family: "Cinzel", sans-serif;
  background-color: rgb(15 23 42);
  display: flex;
  height: 100vh;
  color: white;
}

.wrapper {
  background-color: #1e293b;
  margin: auto;
  padding: 40px 70px;
}

.wrapper h2 {
  text-align: center;
}

.form-group {
  margin-bottom: 20px;
  color: darkgray;
}

.form-group label {
  margin-bottom: 5px;
  font-weight: bold;
}

.form-control {
  font-family: "Rubik", sans-serif;
}

.form-control.is-invalid {
  border: 2px solid red;
}

hr {
  height: 1px;
  background: linear-gradient(to right, transparent, white, transparent);
}
