@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

body {
  font-family: "Cinzel", sans-serif;
  background-color: rgb(15 23 42);
  display: flex;
  height: 100vh;
  color: white;
}
